.error-404 {
    background-image: url(../images/background/404.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 11.25rem;
    padding-bottom: 8.5rem;
}