
/* ----------------------------------------------------------------

	banner.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Banner
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for banner. Thanks!
-----------------------------------------------------------------*/

.banner {
    .banner-wrapper {
        padding-left: 9.375rem;
        padding-right: 9.375rem;

        @include media-breakpoint-down(lg) {
            padding-left: 3.75rem;
            padding-right: 3.75rem;
        }
    }

    &#about-banner {
        padding-top: 5.375rem;
        padding-bottom: 4.375rem;
    }

    &#contact-banner {
        padding-top: 8.375rem;
        padding-bottom:5.375rem;
    }
}