
/* ----------------------------------------------------------------

	blog.scss

-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Blog
-----------------------------------------------------------------*/


/* post
-----------------------------------------------------------------*/
.post{
	position: relative;
	margin-bottom: 1.875rem;
}

.post-thumbnail {
	img {
		width: 100%;
		height: auto;
	}
}

.post-content {
	padding-top: 1.25rem;
}

.entry-meta {
	a {
		font-size: 0.75rem;
		color: #a0a0a0;
	}
}

.entry-title {
	font-size: 1.875rem;
	font-weight: 200;
	line-height: 1.25;
}

.posts {
	.slick-dots {
		display: flex;
		right: 2rem;
		top: -4rem;
		height: 30px;
		width: 6.25rem;
	}

	.slick-prev{
		display: flex;
		width: 20px;
		padding: 0;
		top: -3.5rem;
		left: calc(90% - 1.5rem);
		z-index: 11;
		&::before{
			color: black;
		}
	}

	.slick-next{
		display: flex;
		width: 20px;
		padding: 0;
		top: -3.5rem;
		z-index: 11;
		left: calc(90% + 5rem);
		&::before{
			color: black;
		}
	}
}