
/* ----------------------------------------------------------------

	extras.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Extra Styles
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here extra styles for demo. Thanks!
-----------------------------------------------------------------*/
.container-fluid {
	overflow: hidden;
}

.collections {
	.slick-dots {
		display: flex;
		left: 56%;
		top: 2rem;
		height: 30px;
		width: 6.25rem;
	}

	.slick-prev{
		display: flex;
		width: 20px;
		padding: 0;
		top: 2.6rem;
		left: calc(56% - 1.5rem);
		z-index: 11;
		&::before{
			color: black;
		}
	}
	.slick-next{
		display: flex;
		width: 20px;
		padding: 0;
		top: 2.6rem;
		z-index: 11;
		left: calc(58% + 7rem);
		&::before{
			color: black;
		}
	}

	@include media-breakpoint-up(lg) {
		.slick-track {
			margin-left: 21rem;
		}
	
		.slick-slide {
			&:not(.slick-current) {
				h5, p, button {
					opacity: 0;
				}
	
				img {
					transform: scale(0.75);
					margin-top: 3.25rem;
				}
			}
		}
	} 

	@include media-breakpoint-down(lg) {
		.slick-slide {
			margin: 0.5rem;
		}
	}
}

.slick-slide {
	margin: 1rem;
}

.arrivals {
	.slick-dots {
		display: flex;
		left: 63.5%;
		top: -7rem;
		height: 30px;
		width: 6.25rem;
	}

	.slick-prev{
		display: flex;
		width: 20px;
		padding: 0;
		top: -6.4rem;
		left: calc(63% - 1.5rem);
		z-index: 11;
		&::before{
			color: black;
		}
	}

	.slick-next{
		display: flex;
		width: 20px;
		padding: 0;
		top: -6.4rem;
		z-index: 11;
		left: calc(64% + 7rem);
		&::before{
			color: black;
		}
	}
}

.testimonial-image {
	img {
		max-width: 100%;
	}
}