
/* ----------------------------------------------------------------

	footer.scss

-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Footer
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for footer. Thanks!
-----------------------------------------------------------------*/
#footer {
	background-color: #232323;
}

#footer-main {
	padding: 4.375rem 0;
}

#footer-bottom {
	border-top: 1px solid rgba($color: $white, $alpha: 0.2);
	padding: 3.5rem 0;

	p {
		font-size: 0.875rem;
		color: rgba($color: $white, $alpha: 0.5);
	}
}