
/* ----------------------------------------------------------------

	slider.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Slider
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for all sliders. Thanks!
-----------------------------------------------------------------*/
.content-slide-icon{
	display: flex;
	.slide-icon{
		margin-left: 0.5rem;
		margin-right: 0.5rem;
		background-color: #9b9b9b;
		width: 7px;
		height: 7px;
		border-radius: 50%;
		&.active{
			border: 0.15rem solid #fff;
		}
	}
}

.testimons{
	
	.item{
		width: 9.8rem !important;
		margin-right: 1rem;
		h2{
			display: none;
		}
		.content{
			display: none;
		}
		img{
			margin-top: 164px;
		}
		button{
			display: none;
		}
	}
	.slick-current{
		.item{
			width: 17.8rem !important;
		}
		h2{
			display: block;
		}
		.content{
			display: block;
		}
		img{
			margin-top: 0;
			object-fit: cover;
		}
		button{
			display: block;
		}
	}
	
	.slick-list{
		padding-left: 0.9rem !important;
	}
	
	.slick-dots{
		display: flex;
		left: 46%;
		top: 0rem;
		height: 30px;
		width: 6.25rem;
	}
	
	.slick-prev{
		display: flex;
		width: 20px;
		padding: 0;
		top: 0.6rem;
		left: calc(46% - 1.5rem);
		z-index: 11;
		&::before{
			color: black;
		}
	}
	.slick-next{
		display: flex;
		width: 20px;
		padding: 0;
		top: 0.6rem;
		z-index: 11;
		left: calc(46% + 6rem);
		&::before{
			color: black;
		}
	}
}


.news{
	
	.item{
		width: 25rem !important;
		margin-right: 1.5rem;
	}
	
	.slick-dots{
		display: flex;
		left: 62%;
		top: -4.5rem;
		height: 30px;
		width: 6.25rem;
	}
	
	.slick-prev{
		display: flex;
		width: 20px;
		padding: 0;
		top: -3.9rem;
		left: calc(62% - 1.5rem);
		z-index: 11;
		&::before{
			color: black;
		}
	}
	.slick-next{
		display: flex;
		width: 20px;
		padding: 0;
		top: -3.9rem;
		z-index: 11;
		left: calc(62% + 6rem);
		&::before{
			color: black;
		}
	}
}

.arrivals{
	
	.item{
		width: 11.9rem !important;
		margin-right: 1.0rem;
	}
	
	.slick-dots{
		display: flex;
		left: 62%;
		top: -4.5rem;
		height: 30px;
		width: 6.25rem;
	}
	
	.slick-prev{
		display: flex;
		width: 20px;
		padding: 0;
		top: -3.9rem;
		left: calc(62% - 1.5rem);
		z-index: 11;
		&::before{
			color: black;
		}
	}
	.slick-next{
		display: flex;
		width: 20px;
		padding: 0;
		top: -3.9rem;
		z-index: 11;
		left: calc(62% + 6rem);
		&::before{
			color: black;
		}
	}
}


.collections{
	.item{
		width: 13.35rem !important;
		margin-right: 1.6rem;
		h2{
			display: none;
		}
		.content{
			display: none;
		}
		img{
			filter: grayscale(100%);
			margin-top: 153px;
		}
		button{
			display: none;
		}
	}
	.slick-current{
		h2{
			display: block;
		}
		.content{
			display: block;
		}
		img{
			filter: unset;
			margin-top: 0;
			height: 22.8rem;
			object-fit: cover;
		}
		button{
			display: block;
		}
	}
	
	.slick-list{
		padding-left: 16.5rem !important;
	}
	
	.slick-dots{
		display: flex;
		left: 43%;
		top: 2rem;
		height: 30px;
		width: 6.25rem;
	}
	
	.slick-prev{
		display: flex;
		width: 20px;
		padding: 0;
		top: 2.6rem;
		left: calc(43% - 1.5rem);
		z-index: 11;
		&::before{
			color: black;
		}
	}
	.slick-next{
		display: flex;
		width: 20px;
		padding: 0;
		top: 2.6rem;
		z-index: 11;
		left: calc(43% + 7rem);
		&::before{
			color: black;
		}
	}
}



// .prev {
// 	margin-right: 2.9rem;
// }

// .next {
// 	margin-right: 2.9rem;
// }

// .slider-number {
// 	font-weight: 500;
// 	font-size: $h5-font-size;
// 	margin-right: 2rem;
// }

// .left {
// 	.item {
// 		margin-right: 2.5rem;
// 	}
// }

// .a-left.control-c.prev.slick-prev.slick-arrow {
// 	width: 20px;
// 	height: 10px;
// }

// .col-xl-6.offset-xl-1.pt-xl-0.pt-5 .next {
// 	width: 20px;
// 	height: 10px;
// }

// .row.left.slick-initialized.slick-slider .control-c {
// 	position: absolute;
// 	top: 458px;
// }
// .a-left.control-c.prev.slick-prev.slick-arrow {
// 	left: -350px;
// }
// .a-right.control-c.next.slick-next.slick-arrow {
// 	left: -320px;
// }

// .slick-slide.slick-current.slick-active img {
// 	display: block;
// }
// .slick-slide img {
// 	display: block;
// }
// .slick-slide.slick-current.slick-active{opacity: 1;}
// .slick-slide.slick-active{opacity: 0.7;}
// .slick-slide.slick-current.slick-active {
// -webkit-transform: scale(1.4);
// -moz-transform: scale(1.4);
// transform: scale(1.4); 
// transition: all 0.5s;  
// }

// .slick-list { 
// }

// .left .item {
// 	margin-right: 2.5rem;
// 	margin-left: 2.5rem;
// }
// .left .slick-list {
// 	padding: 80px 35px !important;
// 	margin-left: 00px !important;
// }
