
/*-----------------------------------------------------------------------------------

	Shortcodes: feature-box.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Featured Boxes
-----------------------------------------------------------------*/


.fbox {
	position: relative;
	margin-bottom: 1.875rem;
}

.fbox-header {
	p {
		color: #8c8c8c;
	}
}

