
/*-----------------------------------------------------------------------------------

	Shortcodes: team.scss

-----------------------------------------------------------------------------------*/
.team-first {
	position: absolute;
	top: -2rem;
	left: 40%;
}

.team-second {
	position: absolute;
	top: 0;
	right: 7rem;
}

.team-third {
	position: absolute;
	top: 50%;
	left: -3rem;
}

.team-info {
	font-family: $heading-font;
	font-size: 0.75rem;
	font-weight: 300;
}


.teams {
	.slick-dots {
		display: flex;
		left: 62%;
		top: 2rem;
		height: 30px;
		width: 6.25rem;
	}

	.slick-prev{
		display: flex;
		width: 20px;
		padding: 0;
		top: 2.6rem;
		left: calc(62% - 1.5rem);
		z-index: 11;
		&::before{
			color: black;
		}
	}
	.slick-next{
		display: flex;
		width: 20px;
		padding: 0;
		top: 2.6rem;
		z-index: 11;
		left: calc(62% + 7rem);
		&::before{
			color: black;
		}
	}

	@include media-breakpoint-up(lg) {
		.slick-slide {
			&:not(.slick-current) {
				h5, p, button {
					opacity: 0;
				}
	
				transform: scale(0.75);
				margin-top: 4.875rem;
			}

			&.slick-current {
				transform: scale(1.25);
			}
		}
	} 

	@include media-breakpoint-down(lg) {
		.slick-slide {
			margin: 0.5rem;
		}
	}
}